body {
  background-color: #ffeedb;
  font-family: 'Satisfy', cursive;
}

h1 {
  color: rgb(5, 5, 49);
  font-size: 40px;
}
img {
  border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
}


@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* Global image defaults: responsive by default */
img {
  border: 1px solid #ddd;
  padding: 5px;
  max-width: 100%; /* scale down to container width */
  height: auto;    /* preserve aspect ratio */
  display: block;
}

/* Utility class for images that should span the full width of their container */
.responsive-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

<html>
<head>
<style>
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #281c98;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
</style>
</head>
<body>

<h2>Fade in a Box</h2>

<div class="container">
  <img src="img_avatar.png" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">John Doe</div>
  </div>
</div>
  
</body>
</html>